* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(246, 251, 250);

}

.box-one-header {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box-one-1 {
    display: flex;


}

.box-one-1-1 {
    width: 140px;
    display: flex;
    margin: 10px;
    border-right: 1px solid rgb(222, 229, 231);

}

.box-one-1-2 {
    display: flex;
    margin: 10px;
}

.box-one-2 {
    color: rgb(13, 148, 136);
}

.contaner-box-two-header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(222, 229, 231);
    border-bottom: 1px solid rgb(222, 229, 231);
    /* padding: 20px; */
    height: 100px;
}

.box-two-header {
    width: 80%;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box-two-1 {
    display: flex;
    /* background-color: blue; */
    width: 12%;
    padding: 10px;
}

.box-two-2 {
    display: flex;
    align-items: center;
    width: 50%;
    /* padding: 5px; */
    border: 1px solid rgb(222, 229, 231);
    border-radius: 5px;
    background-color: white;
}

.fa {
    cursor: pointer;
    margin: 5px;
    color: rgb(222, 229, 231);
    font-size: 20px;
}

.fafa {
    margin-right: 10px;
    cursor: pointer;
}

.input-search {
    width: 75%;
    border: hidden;
    outline: none;
    padding: 10px;
    margin: 6px;
}

.button-search {
    width: 80px;
    background-color: rgb(12, 133, 122);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.box-two-3 {
    display: flex;
    justify-content: space-between;
    width: 14%;
    /* background-color: blue; */
    padding: 10px;
}

.contaner-box-three-header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    /* border-top: 1px solid rgb(222, 229, 231); */
    border-bottom: 1px solid rgb(222, 229, 231);
    /* padding: 20px; */
    height: 80px;
}

.box-three-header {
    width: 80%;
    display: flex;
    align-items: center;

}

.navbare {
    /* background-color: blue; */
}

.link-var {
    color: rgb(172, 175, 180);
    text-decoration: none;
    margin-right: 20px;

}

.link-var:hover {
    color: orange;
}

.link-var-icoun {
    color: rgb(172, 175, 180);
    text-decoration: none;

}
.link-var-icoun:hover{
    color: orange;
    cursor: pointer;
}

.faf {
    font-size: 13px;
    margin-right: 20px;
    color: rgb(172, 175, 180);

}