* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    user-select: none;
}

/* !header */
.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(246, 251, 250);

}

.box-one-header {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box-one-1 {
    display: flex;


}

.box-one-1-1 {
    width: 140px;
    display: flex;
    margin: 10px;
    border-right: 1px solid rgb(222, 229, 231);

}

.box-one-1-2 {
    display: flex;
    margin: 10px;
}

.box-one-1 i {
    color: rgb(13, 148, 136);

}

.box-one-2 {
    color: rgb(13, 148, 136);
}

.contaner-box-two-header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(222, 229, 231);
    border-bottom: 1px solid rgb(222, 229, 231);
    height: 100px;
}

.box-two-header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box-two-1 {
    display: flex;
    width: 12%;
    padding: 10px;
    color: rgb(12, 133, 122);
}

.box-two-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border: 1px solid rgb(222, 229, 231);
    border-radius: 5px;
    background-color: white;
}

.box-two-2 .input-search {
    width: 100%;
}

.box-two-2 ::placeholder {
    font-weight: 400;
    color: rgb(222, 229, 231);
}

.fa {
    cursor: pointer;
    margin: 5px;
    color: rgb(222, 229, 231);
    font-size: 20px;
}

.fafa {
    margin-right: 10px;
    cursor: pointer;
}

.input-search {
    width: 70%;
    border: hidden;
    outline: none;
    padding: 10px;
    margin: 6px;
}

.button-search {
    width: 80px;
    background-color: rgb(12, 133, 122);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-right: 6px;
    cursor: pointer;

}

.button-search:hover {
    background-color: rgb(9, 92, 85);
    font-weight: bolder;
    text-shadow: 2px 3px 8px rgb(59, 200, 188);
    transition: 0.3s;
}

.box-two-3 {
    display: flex;
    justify-content: space-between;
    width: 14%;
    padding: 10px;
}

.box-two-3 i:hover {
    color: rgb(9, 92, 85);
    transition: 0.2s;
}

.contaner-box-three-header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(222, 229, 231);
    height: 80px;
}

.box-three-header {
    width: 80%;
    display: flex;
    align-items: center;

}

.link-var {
    color: rgb(172, 175, 180);
    text-decoration: none;
    margin-right: 20px;

}

.link-var:hover {
    color: rgb(13, 148, 136);
    transition: 0.3s;
}

.link-var-icoun {
    color: rgb(172, 175, 180);
    text-decoration: none;

}

.link-var-icoun:hover {
    color: rgb(13, 148, 136);
    cursor: pointer;
    transition: 0.3s;
}

.faf {
    font-size: 13px;
    margin-right: 20px;
    color: rgb(172, 175, 180);

}

/* !main */
.themain {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.the-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.the-section {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.first-section img {
    width: 150px;

}

/* first row div */
.first-row-div {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.first-row-div-left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.first-row-div-left h1 {
    font-family: "quicksand", sans-serif;
    font-weight: bolder;
    font-size: 45px;
    padding-right: 30px;
}

.first-row-div-left p {
    font-size: medium;
    color: rgb(136, 145, 156);
    font-weight: 400;
    padding-right: 30px;
}

.linkoffirstdivrow a {
    text-decoration: none;
    color: rgb(13, 148, 136);
    background-color: rgb(220, 237, 235);
    border: rgb(117, 145, 143) solid 1px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: small;
    font-weight: 500;
    margin-bottom: 20px;
}

.linkoffirstdivrow a:hover {
    color: rgb(220, 237, 235);
    background-color: rgb(13, 148, 136);
    border: rgb(158, 209, 205) solid 1px;
    outline: rgb(158, 209, 205) solid 2px;
    transition: 0.4s;
}

.button-div {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
}

.button-div a {
    text-decoration: none;
}

.green-link {
    background-color: rgb(13, 148, 136);
    padding: 11px 20px;
    border-radius: 5px;
    color: white;
    font-size: small;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.green-link:hover {
    background-color: rgb(9, 92, 85);
    font-weight: bolder;
    /* letter-spacing: 1%; */
    text-shadow: 2px 3px 8px rgb(59, 200, 188);
    transition: 0.3s;
}

.border-link {
    /* background-color: blueviolet; */
    outline: 1px solid rgb(132, 142, 171);
    border-radius: 5px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    color: rgb(80, 97, 123);
}

.border-link:hover {
    background-color: rgb(17, 41, 70);
    outline: 0px solid rgb(132, 142, 171);
    color: white;
    font-weight: bold;
}

.border-link a {
    /* background-color: red; */
    padding: 10px;
    color: rgb(80, 97, 123);
    text-decoration: none;
    font-size: small;
}

.border-link a:hover {
    color: white;
    transition: 0.5s;
}

.border-link img {
    color: rgb(52, 64, 82);
    width: 20px;
    margin-right: 5px;
}

/* ?/ */
.propsdiv {
    /* background-color: aqua; */
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.propsdiv div {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.propsdiv div i {
    margin: 0px 5px;
    color: rgb(80, 97, 123);
    font-size: medium;
}

.propsdiv div p {
    /* background-color: red; */
    font-size: small;
    color: rgb(80, 97, 123);
    font-weight: 300;
    padding: 0px 5px;
}

/* ? */


.first-row-div-right {
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 60%;
    gap: 10px;
}


.first-row-div-right-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-direction: row;
    width: 100%;
    gap: 30px;

}

.eachinnerdiv {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(118, 135, 161, 0.387);
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(34, 41, 50, 0.185);
}

.eachinnerdiv:hover {
    border: 1px solid rgb(9, 175, 161);
    outline: 1px solid rgb(9, 175, 161);
    box-shadow: 0px 0px 6px rgba(34, 41, 50, 0.164);
    transition: 0.5s;
    cursor: pointer;
    /* border-inline: 5px solid rgb(9, 175, 161); */
}


.bottomcardstuff {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 0px 20px 20px 20px;
}






.eachinnerdiv h3 {
    font-family: "quicksand", sans-serif;
    font-weight: 600;
    font-size: medium;
    margin-top: 10px;
}

.pricesdiv {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    margin-top: 10px;
}

.pricesdiv h4 {
    color: rgb(11, 130, 120);
    font-weight: 700;
}

.pricesdiv h5 {
    color: rgb(172, 178, 187);
    font-weight: 400;
    text-decoration: line-through;
}

.pricesdivexception {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;

}

.pricesdivexception h4 {
    color: rgb(11, 130, 120);
    font-weight: 700;
}

.pricesdivexception h5 {
    color: rgb(172, 178, 187);
    font-weight: 400;
    text-decoration: line-through;
}


.first-row-div-right-bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(118, 135, 161, 0.387);
    width: 100%;
    border-radius: 10px;
    padding: 0px 20px 0px 0px;
    box-shadow: 0px 0px 4px rgba(34, 41, 50, 0.185);
}

.first-row-div-right-bottom-content img {
    margin: 10px;
    padding: 10px;
}

.first-row-div-right-bottom-content h3 {
    font-family: "quicksand", sans-serif;
    font-weight: 600;
    font-size: medium;
}

.first-row-div-right-bottom-content p {
    font-size: small;
    color: rgb(80, 97, 123);
    font-weight: 300;
    margin-top: 7px;
}

.first-row-div-right-bottom-content h4 {
    margin-top: 10px;
}


.first-row-div-right-bottom-content:hover {
    border: 1px solid rgb(11, 130, 120);
    box-shadow: 0px 0px 6px rgba(34, 41, 50, 0.164);
    transition: 0.5s;
    cursor: pointer;
}

.imageboxdiv {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;

}

.eachinnerdiv img:hover {
    width: 150px;
    transition: 0.5s;
}

.imageboxdivbig {
    background-color: rgb(250, 250, 251);
    /* padding-top: 10px; */
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.imageboxdiv img {
    width: 153px;
}

.fashioncategory {
    text-decoration: none;
    color: rgb(90, 101, 119);
    background-color: white;
    font-size: smaller;
    position: absolute;
    margin: 10px;
    font-size: 10px;
    padding: 3px 10px;
    border: 1px slategray solid;
    border-radius: 5px;
}




/* todo/ second row div*/
.secondrowdiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    gap: 30px;
    margin-bottom: 20px;
}

/*! second section */
/* ?/first part */
.container-of-section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    width: 100%;
}

.box-container-of-section-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}

.button-div p {
    margin: 20px;
}


.box-container-two-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.box-container-two-1-1 {
    width: 55%;
}

.image-sec-2 {
    border-radius: 10px;
    width: 550px;
    height: 500px;
}

.box-container-two-1-2 {
    width: 45%;
    border: 1px solid rgb(235, 236, 238);
    border-radius: 10px;
}

.box-container-two-1-1-1 p {
    width: fit-content;
    text-decoration: none;
    color: rgb(13, 148, 136);
    background-color: rgb(220, 237, 235);
    border: rgb(117, 145, 143) solid 1px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: small;
    font-weight: 500;
    margin: 20px;
}

.box-container-two-1-1-1 p:hover {
    color: rgb(220, 237, 235);
    background-color: rgb(13, 148, 136);
    border: rgb(158, 209, 205) solid 1px;
    outline: rgb(158, 209, 205) solid 2px;
    cursor: pointer;
    transition: 0.4s;
}

.box-container-two-1-1-2 {
    display: flex;
    margin: 20px;
    padding: 15px;
    width: 100%;
}

.box-container-two-1-1-2 h1 {
    font-family: "quicksand", sans-serif;
    font-size: xx-large;
}

.box-container-two-1-1-3 {
    margin: 30px;
}

.fafafa {
    color: rgb(170, 247, 255);
    margin-right: 10px;
}

.para {
    margin-bottom: 10px;
}

.box-container-two-1-1-4 {
    width: 100%;
}

.box-two-of-1-1-3 {
    display: flex;
    margin: 30px;
}

.box-container-two-1-1-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 200px;
    color: white;
    background-color: rgb(49, 164, 154);
}

.link-expo {
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

/* ?/ second part */

.box-container-two-2 {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    gap: 15px;
    /* background-color: aqua; */
}

.box-of-images {
    border: 1px solid rgb(231, 232, 235);
    border-radius: 10px;

}

.box-of-images- {
    overflow: hidden;
    height: 210px;
}

.box-of-images-1 {
    max-width: 100%;
    height: auto;
    border-radius: 10px;


}

.box-of-images-para {
    margin-top: 20px;
    padding: 0px 20px 20px;
}

.mar-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pap {
    color: rgb(159, 173, 189);
    margin-top: 10px;
}

.p-i {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: rgb(6, 73, 32);
    display: flex;
}

.p-i:hover {
    cursor: pointer;
    color: orange;
}

.fafo {
    margin-left: 10px;
    font-size: 10px;
}
/* !this is a nother sectino */



/* !/thirdsection */
/* todo/ card stuff */
.thirdsectiontitles {
    text-align: center;
}

.thirdsectiontitles h1 {
    font-size: xx-large;
    font-family: "quicksand", sans-serif;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
}

.thirdsectiontitles h1:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: rgb(11, 130, 120);
    margin-bottom: 30px;
    transition: 0.4s;
}

.thirdsectiontitles p {
    color: rgb(90, 101, 119);
    margin-bottom: 50px;
}

.thecardsrow {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.cardbottomdiv-availability {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.cardbottomdiv-availability h3 {
    font-size: small;
    color: #7f8185;
    font-size: 12px;
    font-weight: 500;
}

.itemratingdiv {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.itemratingdiv div {
    display: flex;
    align-items: end;
}

.itemratingdiv i {
    font-size: 13px;
    color: rgb(245, 158, 11);
}

.itemratingdiv h3 {
    color: black2;
    font-size: 15px;
}

.itemratingdiv p {
    color: #7f8185;
    font-size: 10px;
}

.color-options {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 5px 0;
}

.color-swatch {
    margin-top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}


.color-swatch.active {
    outline: 1px solid #7f8185;
    outline-offset: 2px;
}

.color-swatch:hover {
    transform: scale(1.1);
}

.carddescription a {
    text-decoration: none;
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.carddescription a:hover {
    color: rgb(13, 148, 136);
}

.bottomofcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: rgb(219, 221, 224) 1px solid;
    padding-top: 10px;
    margin: 10px;
}

.theicon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 148, 136);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.theicon:hover {
    /* font-size: 11px; */
    background-color: rgb(9, 92, 85);
    font-weight: bolder;
    /* letter-spacing: 1%; */
    text-shadow: 2px 3px 8px rgb(59, 200, 188);
    transition: 0.3s;
}

.fashionfeatureone {

    color: rgb(13, 148, 136);
    /* background-color: aqua; */
    background-color: rgba(13, 148, 137, 0.200);
    font-size: smaller;
    position: absolute;
    margin: 10px;
    font-size: 8px;
    font-weight: 600;
    padding: 6px 14px;
    border: 1px rgba(0, 108, 99, 0.596) solid;
    border-radius: 15px;
}

.fashionfeaturetwo {
    color: rgb(255, 39, 39);
    /* background-color: aqua; */
    background-color: rgba(255, 173, 177, 0.318);
    font-size: smaller;
    position: absolute;
    margin: 10px;
    font-size: 8px;
    font-weight: 600;
    padding: 6px 14px;
    border: 1px rgb(255, 62, 62) solid;
    border-radius: 15px;
}

.fashionfeaturefour {
    color: rgb(150, 64, 33);
    background-color: rgb(249, 240, 226);
    font-size: smaller;
    position: absolute;
    margin: 10px;
    font-size: 8px;
    font-weight: 600;
    padding: 6px 14px;
    border: 1px rgb(247, 219, 172) solid;
    border-radius: 15px;
}

/* !/fourth section */
/* todo/ top bar filter options */
.sectionfour-topbar {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2px;
    border-bottom: #95979c86 1px solid;
    padding-top: 30px;
}

.topbar-filteroption a {
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(155, 163, 174);
    padding: 15px 20px;

}

.topbar-filteroption h3 {
    font-weight: 300;
    font-size: medium;
}

.topbar-filteroption a:hover {
    background-color: rgb(249, 249, 250);
    color: rgb(90, 101, 119);
}


.topbar-filteroption a:hover .h3,
.topbar-filteroption a:hover i {
    font-weight: 400;
    text-shadow: 0.5px 0 0 black;

}

.topbar-filteroption-on a {
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 15px 20px;
    /*  */
    color: #14b8a6;
    border-bottom: 1px solid #14b8a6;
}

.topbar-filteroption-on h3 {
    font-weight: 500;
    font-size: medium;
}

/* todo/ the items */
.theitemsdiv {
    /* background-color: aqua; */
    margin-top: 30px;
    width: 100%;
}

/* !/fifth section/ the blue section */
.the-blue-section-container {
    background-color: rgb(17, 41, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: rgb(246, 251, 250); */
}

.the-blue-section {
    /* background-color: aqua; */
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 30px;
}

/* todo/ first row */
.thelongdiv-firstrow {
    /* background-color: aqua; */
    background-color: rgb(32, 56, 86);
    border: rgb(59, 80, 107) 1px solid;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    align-content: center;
    padding: 20px;
    border-radius: 10px;
    zoom: 0.9;
}

.longdiv-onediv1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 50%;
    /* align-items: center; */
}

.longdiv-onediv1 h1 {
    color: white;
    font-family: "quicksand", sans-serif;
    font-size: 28px;

}

.longdiv-onediv1 p {
    color: rgb(188, 196, 205);
    font-size: medium;
    font-weight: 300;
}

/* ?/ */
.longdiv-onediv2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: white;
}

.longdiv-onediv2 h1 {
    font-size: medium;
    color: rgb(166, 175, 187);
    font-weight: 500;
}

.countdown {
    display: flex;
    gap: 10px;
}


.countdownbox {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 10px;
    min-width: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.countdownbox h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "quicksand", sans-serif;
}


.countdownbox h4 {
    margin: 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-family: "quicksand", sans-serif;
}


/* ?/ */
.longdiv-onediv3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    /* align-items: center; */
}

.border-link-sectionfrth {
    /* background-color: blueviolet; */
    outline: 1px solid rgb(132, 142, 171);
    border-radius: 5px;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    /* color: rgb(80, 97, 123); */
    color: white;
}

.border-link-sectionfrth:hover {
    background-color: white;
    outline: 0px solid rgb(132, 142, 171);
    color: rgb(17, 41, 70);
    font-weight: bold;
    transition: 0.4s;
}

.border-link-sectionfrth a {
    /* background-color: red; */
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: small;
}

.border-link-sectionfrth a:hover {
    color: rgb(17, 41, 70);
    transition: 0.5s;
}

/* todo/ second row/ cards */
.secondrow-cardsdiv-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
}

.fifthsection-onecard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    /* width: 100%; */
    /* ?/style */
    background-color: rgb(32, 56, 86);
    border: rgb(59, 80, 107) 1px solid;
    border-radius: 10px;
}

.fifthsection-onecard:hover {
    cursor: pointer;
    border: rgb(80, 105, 137) 1px solid;
    outline: rgb(80, 105, 137) solid 1px;
    transition: 0.4s;
}

.salesaverate {
    position: absolute;
    background-color: #14b8a6;
    text-decoration: none;
    color: white;
    /* background-color: aqua; */
    font-size: smaller;
    position: absolute;
    margin: 10px;
    font-size: 10px;
    padding: 3px 10px;
    border: 1px #59f5e3;
    border-radius: 5px;
    font-weight: 600;
}



.lowerhalf-divcard {
    padding: 20px;
}

.fifthsection-onecard-middle {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.rating {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: rgb(245, 158, 11);
    font-size: 13px;
}

.rating h6 {
    color: rgb(144, 156, 171);
}

.fifthsection-onecard-middle h1 {
    font-family: "quicksand", sans-serif;
    color: white;
    font-size: medium;
}

.fifthsection-onecard-middle h1:hover {
    color: rgb(14, 153, 138);
    transition: 0.3s;

}

.fifthsection-onecard-bottom {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.fifthsection-onecard-bottom h4 {
    font-size: small;
    text-decoration: line-through;
    color: rgb(144, 156, 171);
}

.fifthsection-onecard-bottom h3 {
    color: rgb(12, 150, 137);
    font-size: medium;
}

.fifthsection-onecard-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fifthsection-onecard-footer a {
    background-color: rgb(30, 64, 90);
    color: rgb(14, 153, 138);
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.fifthsection-onecard-footer a:hover {
    background-color: rgb(37, 201, 184);
    color: rgb(15, 40, 59);
    text-shadow: #008575 0px 3px 6px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: #00a18e 0px 0px 6px;
}


/* !this is a footer */

.container-of-footer {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.container-of-footer h2 {
    font-family: "quicksand", sans-serif;
    font-size: x-large;

}

.container-of-footer h3 {
    font-family: "quicksand", sans-serif;
    font-size: large;
    font-weight: 600;
    margin-bottom: 20px;
}

.container-of-footer h4 {
    font-family: "quicksand", sans-serif;
    font-size: small;
    font-weight: 600;
}

.container-footer-one {
    /* background-color: #00a18e; */
    padding: 30px;
    ;
    /* width: 95%; */
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box-footer-one-1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* background-color: chartreuse; */
    /* padding: 30px; */

}

.box-footer-one-1-1 {
    display: flex;
    flex-direction: column;
}

.logo {
    text-decoration: none;
    color: black;
    margin-bottom: 30px;

}

.box-footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.box-contact {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: small;
    /* background-color: aqua; */

}

.box-contact span {
    color: rgb(154, 167, 170);
}

.fafafa {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(13, 148, 136);
}

.box-footer-one-2 {
    width: 23%;

}

.box-footer-one-3 {
    width: 23%;

}

.box-footer-one-4 {
    width: 23%;

}

.footer-list {
    list-style: none;
    margin-top: 15px;

}

.list-link {
    font-family: "Roboto", sans-serif;
    color: rgb(154, 167, 170);
    text-decoration: none;
    list-style: none;
}

.list-link:hover {
    color: rgb(13, 148, 136);
    text-decoration: underline 1px;
    text-underline-offset: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.show-paragraph {
    color: rgb(154, 167, 170);
}

.box-footer-one-5 {
    width: 33%;
    
}

.box-buttons {
    width: 100%;
    margin: 30px 0px 30px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.app-button {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 12px;
    background-color: rgb(238, 239, 241);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(90, 101, 119);

}

.app-button:hover {
    background-color: rgb(13, 148, 136);
    color: white;
    box-shadow: #92fff2 0 0 6px;
    transition: 0.3s;
}

.bi {
    margin-right: 5px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: rgb(247, 247, 248);
    text-decoration: none;
    color: rgb(90, 101, 119);

}

.circle:hover {
    background-color: rgb(13, 148, 136);
    color: white;
    box-shadow: #92fff2 0 0 6px;
    transition: 0.3s;
}

.tit-down {
    margin: 0px 0px 20px;
}
/* !this is a section */


/* !this is a bottom footer */
.box-footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.box-payment-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 40px;

}

.payment-icons {
    width: 20%;
    display: flex;
    justify-content: space-around;
}



.icon:hover {
    color: rgb(13, 148, 136);
    text-decoration: underline 1px;
    text-underline-offset: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.links-us {
    width: 30%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;

}

.links-us-list {
    text-decoration: none;
    color: rgb(159, 173, 189);

}

.links-us-list:hover {
    color: rgb(13, 148, 136);
    text-decoration: underline 1px;
    text-underline-offset: 10px;
    cursor: pointer;
    transition: 0.4s;
}


.copyright-text {
    margin-bottom: 20px;
}

.credits {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.credits p {
    font-family: "quicksand", sans-serif;
}

.link-boots {
    text-decoration: none;
    color: rgb(159, 173, 189);
    margin-left: 10px;
}

.link-boots:hover {
    color: rgb(28, 105, 28);

}

.container-footer-two {
    background-color: rgb(247, 247, 248);
}

